.contacts{
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 3%;
}
.cnt-h1{
    margin-bottom: 30px;
}
.cnt-p{
    margin-top: 20px;
    margin-left: 30px;
}
.cnt-p-1{
    margin-left: 10px;
}